.SearchOutput {
    padding: .75rem;
    height: 850px;
    width:50%;
    background-color: black;
    box-shadow: 0 10px 5px 5px black;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

@media only screen and (max-width:1020px) {
    .SearchOutput {
        width: 50%;
        margin-bottom:5rem;
    }
    
}
