.SearchOutput {
    width: 50%;
    padding: .88rem;
    overflow-y: scroll;
    height: 850px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 5px 5px black;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

@media only screen and (max-width:1020px) {
    .SearchOutput {
        width: 90%;
    }
    
}
